
<!DOCTYPE html>
<html>
  <head>
    <title>HTTP Request Header microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
        <div class="container">
            <h1 class="header">
                Request Header microservice
            </h1>
            <blockquote>
                User stories:
                <ul>1) Get the IP address, language and operating system for client browser.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://fcc-header-ms.glitch.me/api/whoami/</code><br>
            <h3>Example output:</h3>
            <code>
                {
                    "ipaddress":"122.167.117.122",
                    "language":"en-IN",
                    "software":"Macintosh; Intel Mac OS X 10_12_4"
                }
            </code>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>

  </body>
</html>
